
/* Variables */
:root{
  --color-accent: #3E0A0D;
  --color-accent-light: #FFDBDD;
  --color-accent-text: #E96E75;
  --color-accent-text-light: #D8BFAA;
  --color-black-light: #131313;
  --color-black: #000;

  --font-family: 'Inter', sans-serif;
  --box-shadow: 0 5px 5px rgba(0,0,0,.25);
  
}

/* Global Styles */
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: var(--font-family);
  font-size: 1.6rem;
  color: var(--color-accent-text-light);
  line-height: 1.7;
  font-weight: 300;
  background: var(--color-black-light);

  display: grid;
  grid-template-columns: 1fr;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style-type: none;
}

img{
  width: 100%;
  display: block;
}

.logo-box{
  position: relative;
  text-align: right;
}

.logo-top{
  color: var(--color-accent-text);
  font-size: 3.5rem;
}

.logo-bottom{
  display: block;
  font-size: 3.3rem;
  margin-top: -3rem;
  margin-right: .05rem;
}

.btn{
  background-color: var(--color-accent-light);
  padding: .8rem 1.6rem;
  border-radius: .5rem;
  font-weight: 500;
  box-shadow: var(--box-shadow);
  transition: all .2s linear;
  color: var(--color-accent-text) ;
  display: inline-block;
  cursor: pointer;
}

.btn:hover{
  outline: 1px solid var(--color-accent-light);
  background: none;
  color: var(--color-accent-text-light);
}

.section-title{
  grid-column: 1 / -1;
  font-size: 4rem;
  color: var(--color-accent-text);
}




